[user]
	name = Simon Désaulniers
	email = rostydela@gmail.com
	editor = vim
[color]
	ui = true
[alias]
	lol = log --decorate --graph --oneline
	st = status -s
	co = checkout
	br = branch
	merff = merge --ff
	samend = commit --amend --no-edit
[merge]
    ff = false
    tool = vimdiff
