[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/sim590/lain.git
[submodule "awesome/themes"]
	path = awesome/themes
	url = https://github.com/sim590/awesome-themes.git
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "awesome/penlight"]
	path = awesome/penlight
	url = https://github.com/stevedonovan/Penlight
