[Unit]
Description=Conky -- System monitor
Requires=default.target conky@sysmonitor.service conky@dateweather.service conky@voip-cdr.service
After=default.target
AllowIsolate=yes

[Install]
WantedBy=default.target

;  vim: set sts=4 ts=4 sw=4 tw=120 et :

