[Unit]
Description=Conky -- System monitor
Requires=default.target
After=default.target
AllowIsolate=yes

[Install]
WantedBy=default.target

;  vim: set sts=4 ts=4 sw=4 tw=120 et :

