
[Unit]
Description=Conky -- System monitor
After=display-manager.service

[Service]
Type=forking
ExecStart=/usr/bin/env DISPLAY=:0 /usr/bin/conky -c /home/simon/.conky/sysmonitor.lua
Restart=always

[Install]
WantedBy=default.target

;  vim: set sts=4 ts=4 sw=4 tw=120 et :

